@import "tailwindcss";

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.title {
    font-size: 3rem;
    color: rgb(104, 29, 203);
}

.text {
    font-size: 1.5rem;
    color: #333;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}